.banner-container {
/* background-image: url('../public/assets/bg-shadow.png'); */
height: 536px;
/* Auto layout */
padding: 64px 10px 64px 10px;
box-sizing: border-box;
border: 1px solid rgba(19, 19, 19, 0.1);
border-radius: 24px;
/* background: rgba(19, 19, 19, 1); */
}

.bannerH1{
color: rgba(255, 255, 255, 1);
font-family: Sora;
font-size: 40px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}

.bannerP1{
color: rgba(255, 255, 255, 0.7);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.buttonText{
color: rgba(19, 19, 19, 1);
font-family: Sora;
font-size: 16px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}

.BUTOON{
    /* Frame 2 */
width: 184px;
height: 44px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 14px 20px 14px 20px;
border-radius: 12px;
box-shadow: inset 4px 4px 20px 0px rgba(19, 19, 19, 0.3);
background: rgba(231, 254, 41, 1);
}

.mainbutton{
    /* Frame 45 */
width: 200px;
height: 60px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 8px;

box-sizing: border-box;
border: 1px solid rgba(231, 254, 41, 1);
border-radius: 16px;
background: rgba(255, 255, 255, 0.05);
}